body{
	margin: 0;
}

.wrapper{
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	position:relative;
}

header{
	width: 960px;
	height: 100px;
	background:#000 url(_img/placeholder_crop.png) no-repeat left;
	position:fixed;
	top:0:;
	left:auto;
}

nav{
	width: 960px;
	height:35px;
	margin-bottom: 15px;
	padding: 0 0 15px 0;
	background:white;
	border-bottom: 3px solid grey;
	position:fixed;
	top:100px;
	left:auto;
}

h1, h2, p{
	margin-top: 0;
	padding-top: 0;
}

nav ul{
	list-style-type: none;
	padding: 0;
}

nav ul li{
	float:left;
	margin: 0 30px 0 0;
	font-size: 24px;
}

main{
	width: 700px;
	float:left;
	margin-top: 168px;
}

main article:nth-of-type(1){
	float:right;
	width: 520px;
	border-right:1px solid grey;
}

main article:nth-of-type(2){
	float: right;
	width: 159px;
	margin-right: 20px;
}

main article:nth-of-type(2) p::first-line{
	font-weight: 700;
}

aside.tangent{
	float:right;
	width: 240px;
	margin: 168px 0 0;
}

footer{
	width: 960px;
	height:50px;
	margin-top: 10px;
	clear:both;
}

img{
	width: 200px;
	height: 300px;
}


img[alt="Bill Murray1"]{
	float:left;
	margin: 0 10px 10px 0;
}

img[alt="Bill Murray2"]{
	float:right;
	margin: 0 10px 10px 10px;
}