/* 
Styles for Assignment 1, Part 1.
Bill Brikiatis, brikiatis@g.harvard.edu
*/

body{
	font-family:sans-serif;
}

h1, h2{
	font-family: serif;
	font-style: italic;
	color:blue;
}

main p:first-of-type em:last-of-type{
	font-weight: 700;
	color:green;
}

a[href^='http']:after{
	content: url('http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png');
}

a[href$='.pdf']:after{
	content: ' PDF';
}

a[href*="www.google.com"]{
	color: yellow;
	background-color: darkgray;
}

main > ul > li:nth-child(3) > a{
	color: orange;
	font-weight:700;
}

tr:nth-child(2){
	background-color:lightgrey;
}

blockquote:nth-of-type(2){
	border:5px solid blue;
}

blockquote:nth-of-type(3) > cite{
	color:brown;
	font-weight: 700;
	font-style: normal;
}

footer{
	text-align: center;
	color:pink;
	font-size: small;
}
